<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="renoir_tuning_utility.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <renoir_tuning_utility.Properties.Settings>
            <setting name="PL2_E" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PL1_E" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PL0_E" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PL0T_E" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PL1T_E" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TCTL_E" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TDC_E" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EDC_E" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PL2" serializeAs="String">
                <value>65</value>
            </setting>
            <setting name="PL1" serializeAs="String">
                <value>54</value>
            </setting>
            <setting name="PL0" serializeAs="String">
                <value>45</value>
            </setting>
            <setting name="PL1T" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="PL0T" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="TCTL" serializeAs="String">
                <value>85</value>
            </setting>
            <setting name="TDC" serializeAs="String">
                <value>35</value>
            </setting>
            <setting name="EDC" serializeAs="String">
                <value>60</value>
            </setting>
        </renoir_tuning_utility.Properties.Settings>
    </userSettings>
</configuration>